<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.Oracle10gDialect
        </property>

        <property name = "hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>

        <property name = "hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>

        <property name = "hibernate.connection.username">
            BD2A20
        </property>

        <property name = "hibernate.connection.password">
            koszatniczka
        </property>

        <!-- List of XML mapping files -->
        <mapping class="mapping.OcenyEntity"/>
        <mapping resource="mapping/OcenyEntity.hbm.xml"/>
        <mapping class="mapping.OcenyKoncoweEntity"/>
        <mapping resource="mapping/OcenyKoncoweEntity.hbm.xml"/>
        <mapping class="mapping.PrzedmiotyEntity"/>
        <mapping resource="mapping/PrzedmiotyEntity.hbm.xml"/>
        <mapping class="mapping.RealizacjeEntity"/>
        <mapping resource="mapping/RealizacjeEntity.hbm.xml"/>
        <mapping class="mapping.StudenciEntity"/>
        <mapping resource="mapping/StudenciEntity.hbm.xml"/>
        <mapping class="mapping.TypyOcenEntity"/>
        <mapping resource="mapping/TypyOcenEntity.hbm.xml"/>




    </session-factory>
</hibernate-configuration>

